button.my-fill {
	background: linear-gradient(to right, rgb(var(--theme-color)), rgb(var(--theme-color), .8));
	color: white;
	font-family: 'Roboto-Medium';
	padding: 10px;
	border-radius: 3px;
	border: 2px solid rgb(var(--theme-color));
	box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
	border: none;
	letter-spacing: 1px;
	min-width: 3.5em;
	text-transform: uppercase;
	cursor: pointer;
	transition: .3s;
}

button.my-border {
	background: none;
	color: rgb(var(--theme-color));
	font-family: 'Roboto-Medium';
	padding: 8px;
	border-radius: 3px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
	border: 2px solid rgb(var(--theme-color));
	letter-spacing: 1px;
	min-width: 3em;
	text-transform: uppercase;
	cursor: pointer;
	transition: .3s;
}

button.my-button {
	background: none;
	color: rgb(var(--theme-color));
	font-family: 'Roboto-Medium';
	padding: 8px;
	border-radius: 3px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
	letter-spacing: 1px;
	min-width: 3em;
	text-transform: uppercase;
	cursor: pointer;
	transition: .3s;
	border: none;
}

button.my-border:active, button.my-fill:active, button.my-button:active {
	transform: scale(.95);
	opacity: .9;
}