input.my-switch[type=checkbox] {
    display: none;
}

label.my-switch {
    width: 65px;
    height: 35px;
    box-sizing: border-box;
    border: 3px solid white;
    float: left;
    position: relative;
    cursor: pointer;
    transition: .4s ease;
    background: rgba(0, 0, 0, .1);
    border-radius: 20px;
}

input.my-switch[type=checkbox]:checked + label {
    background: rgba(var(--theme-color), .2);
}

input.my-switch[type=checkbox]:checked + label:before {
    left: 30px;
    background: rgb(var(--theme-color));
}

label.my-switch:before {
    transition: .3s ease;
    content: '';
    width: 32px;
    height: 32px;
    position: absolute;
    background: white;
    top: -2px;
    left: -2px;
    border-radius: 20px;
    box-sizing: border-box;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}
